<li>
  <strong><%= comment.body %></strong> -
  <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>

  <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :body, class: 'form-control', placeholder: "Write reply" %><br/>
      <%= f.submit "Reply", class: 'btn btn-primary btn-save btn-sm'  %>
      <% end %>

  <ul>
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>
