<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Event name' %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control', placeholder: 'Event location' %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo, class: 'form-control', placeholder: 'Event photo URL', value: 'https://static1.squarespace.com/static/52f3ba1fe4b0932b3f775421/t/530e5fa1e4b07a55c9b3d6ad/1393450915317/Beer+Die+Events.jpg?format=1500w' %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.datetime_select :time, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Event description' %>
  </div>

  <div class="actions" align="right">
    <%= f.submit 'Save', class: 'btn btn-primary btn-save' %>
  </div>
<% end %>
