<div class="container">

  <%= link_to 'Back', event_path(@event), class: 'btn btn-outline-info btn-sm btn-back' %>

  <h1 class="form-header">Editing Event</h1>

  <%= render 'form', event: @event %>

</div>
