<p id="notice"><%= notice %></p>

<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-name" href="/bands">Fakezone</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link nav-normal" href="/bands">Bands <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active nav-active" href="/events">Events</a>
        <a class="nav-item nav-link nav-normal" href="/fanclubs">Fanclubs</a>
      </div>
    </div>
  </nav>
</div>

<div class="container index">
  <%= link_to "Add Event", new_event_path, class: 'btn btn-outline-info' %>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="card-columns">
      <% @events.each do |event| %>

        <div class="card">
          <img class="card-img-top card-style" src=<%= event.photo %>>
          <div class="card-block card-div card-name">
              <h4 class="card-title"><%= link_to event.name, event %></h4>
              <p class="card-delete"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></p>
            <div class="clear: both;"></div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
