<div class="container" >

  <%= link_to 'Back', events_path, class: 'btn btn-outline-info btn-sm btn-back' %>

  <h1 class="form-header">Add Event</h1>

  <%= render 'form', event: @event %>
  
</div>
