<p id="notice"><%= notice %></p>

<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-name" href="/bands">Fakezone</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link nav-normal" href="/bands">Bands <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active nav-active" href="/events">Events</a>
        <a class="nav-item nav-link nav-normal" href="/fanclubs">Fanclubs</a>
      </div>
    </div>
  </nav>
</div>

<div class="container detail">
  <%= link_to 'Back', events_path, class: 'btn btn-outline-info btn-sm btn-back' %>
  <h2 class="detail-header"><%= @event.name %></h2>
  <br>
  <p class="event-info">
    <strong><%= @event.location %></strong>, <%= @event.time.strftime("%d.%m.%Y %H:%M") %>
  </p>
  <img class="detail-picture" src=<%= @event.photo %>>
  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>
  <p>
    <td><%= link_to "Edit Event", edit_event_path(@event), class: 'btn btn-primary' %></td>
  </p>
</div>

<div class="container comment">
  <h3>Comments</h3>

  <%= form_for [@event, Comment.new] do |f| %>
  <%= f.text_area :body, class: 'form-control', placeholder: "Add a comment" %><br/>
  <%= f.submit "Add Comment", class: 'btn btn-primary btn-save' %>
  <% end %>
  <ul>
    <%= render(partial: 'comments/comment', collection: @event.comments) %>
  </ul>
</div>
