<%= form_for [@band, @album, song] do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :number %>
    <%= f.number_field :number, class: 'form-control', placeholder: 'Song number' %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Song name' %>
  </div>

  <div class="form-group">
    <%= f.label :duration %>
    <%= f.text_field :duration, class: 'form-control', placeholder: 'Song duration (in format 4:01)' %>
  </div>

  <div class="actions" align="right">
    <%= f.submit 'Save', class: 'btn btn-primary btn-save' %>
  </div>
<% end %>
