<div class="container">

  <%= link_to 'Back', band_album_path(@band, @album), class: 'btn btn-outline-info btn-sm btn-back' %>

  <h1 class="form-header">Add Song</h1>

  <%= render 'form', song: @song %>

</div>
