<%= form_for [@fanclub, fan] do |f| %>
  <% if fan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fan.errors.count, "error") %> prohibited this fan from being saved:</h2>

      <ul>
      <% fan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Fan name' %>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age, class: 'form-control', placeholder: 'Year born' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Short fan description' %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo, class: 'form-control', placeholder: 'Fan photo URL', value: 'https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png' %>
  </div>

  <div class="actions" align="right">
    <%= f.submit 'Save', class: 'btn btn-primary btn-save' %>
  </div>
<% end %>
