<div class="container">

  <%= link_to 'Back', fanclub_path(@fanclub), class: 'btn btn-outline-info btn-sm btn-back' %>

  <h1 class="form-header">Add Fan</h1>

  <%= render 'form', fan: @fan %>

</div>
