<%= form_for [@band, album] do |f| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Album name' %>
  </div>

  <div class="form-group">
    <%= f.label :year %>
    <%= f.number_field :year, class: 'form-control', placeholder: 'Year album was published' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', placeholder: 'Album description' %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo, class: 'form-control', placeholder: 'Album photo URL', value: 'https://image.freepik.com/free-icon/music-album_318-43305.jpg' %>
  </div>

  <div class="actions" align="right">
    <%= f.submit 'Save', class: 'btn btn-primary btn-save' %>
  </div>
<% end %>
