<p id="notice"><%= notice %></p>

<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-name" href="/bands">Fakezone</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active nav-active" href="/bands">Bands <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link nav-normal" href="/events">Events</a>
        <a class="nav-item nav-link nav-normal" href="/fanclubs">Fanclubs</a>
      </div>
    </div>
  </nav>
</div>

<div class="container detail">
  <%= link_to 'Back', band_path(@band), class: 'btn btn-outline-info btn-sm btn-back' %>
  <h2 class="detail-header"><%= @album.name %> (<%= @album.year %>)</h2>
  <img class="detail-picture" src=<%= @album.photo %>>
  <p><%= @album.description %></p>

  <br>
  <br>

  <%= link_to "Add Song", new_band_album_song_path(@band, @album, @song), class: 'btn btn-primary' %>
  <h3>Songs:</h3>
  <% if @album.songs.size > 0 %>
    <table class="table">
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Duration</th>
        <th colspan="2"></th>
      </tr>
      <% @album.songs.each do |song| %>
      <tr>
        <td><%= song.number %></td>
        <td><%= song.name %></td>
        <td><%= song.duration %></td>
        <td><%= link_to "Edit Song", edit_band_album_song_path(@band, @album, song), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Remove Song', band_album_song_path(@band, @album, song), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'  %></td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>There are no songs yet.</p>
  <% end %>
</div>
