<%= form_for(band) do |f| %>
  <% if band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% band.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Band\'s name' %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo, class: 'form-control', placeholder: 'Band\'s photo URL', value: 'https://image.freepik.com/free-icon/multiple-users-silhouette_318-49546.jpg' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Short band description' %>
  </div>

  <div class="actions" align="right">
    <%= f.submit 'Save', class: 'btn btn-primary btn-save' %>
  </div>
<% end %>
