<div class="container">

  <%= link_to 'Back', band_path(@band), class: 'btn btn-outline-info btn-sm btn-back' %>

  <h1 class="form-header">Editing Band</h1>

  <%= render 'form', band: @band %>

</div>
