<p id="notice"><%= notice %></p>

<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-name" href="/bands">Fakezone</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active nav-active" href="/bands">Bands <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link nav-normal" href="/events">Events</a>
        <a class="nav-item nav-link nav-normal" href="/fanclubs">Fanclubs</a>
      </div>
    </div>
  </nav>
</div>

<div class="container detail">
  <%= link_to 'Back', bands_path, class: 'btn btn-outline-info btn-sm btn-back' %>

  <h2 class="detail-header"><%= @band.name %></h2>
  <img class="detail-picture" src=<%= @band.photo %>>
  <p><%= @band.description %></p>

  <%= link_to 'Edit Band', edit_band_path(@band), class: 'btn btn-primary' %>
  <%= link_to "Add Member", new_band_member_path(@band), class: 'btn btn-primary' %>
  <%= link_to "Add Album", new_band_album_path(@band), class: 'btn btn-primary' %>
  <h3>Members:</h3>

  <% if @band.members.size > 0 %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Instrument</th>
        <th colspan="2"></th>
      </tr>
      <% @band.members.each do |member| %>
      <tr>
        <td><%= link_to member.name, band_member_path(@band, member) %></td>
        <td><%= Time.now.year-member.age %></td>
        <td><%= member.instrument %></td>
        <td><%= link_to "Edit Member", edit_band_member_path(@band, member), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Remove Member', band_member_path(@band, member), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'  %></td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>There are no members yet.</p>
  <% end %>

  <h3>Albums:</h3>
  <% if @band.albums.size > 0 %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Year</th>
        <th colspan="2"></th>
      </tr>
      <% @band.albums.each do |album| %>
      <tr>
        <td><%= link_to album.name, band_album_path(@band, album) %></td>
        <td><%= album.year %></td>
        <td><%= link_to "Edit Album", edit_band_album_path(@band, album), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Remove Album', band_album_path(@band, album), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'  %></td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>There are no albums yet.</p>
  <% end %>
</div>

<div class="container comment">
  <h3>Comments</h3>

  <%= form_for [@band, Comment.new] do |f| %>
  <%= f.text_area :body, class: 'form-control', placeholder: "Add a comment" %><br/>
  <%= f.submit "Add Comment", class: 'btn btn-primary btn-save' %>
  <% end %>

  <ul>
    <%= render(partial: 'comments/comment', collection: @band.comments) %>
  </ul>
</div>
