<%= form_for(fanclub) do |f| %>
  <% if fanclub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fanclub.errors.count, "error") %> prohibited this fanclub from being saved:</h2>

      <ul>
      <% fanclub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Fanclub name' %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control', placeholder: 'Fanclub location' %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo, class: 'form-control', placeholder: 'Fanclub photo URL', value: 'https://image.freepik.com/free-icon/multiple-users-silhouette_318-49546.jpg' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Short fanclub description' %>
  </div>

  <div class="actions" align="right">
    <%= f.submit 'Save', class: 'btn btn-primary btn-save' %>
  </div>
<% end %>
