<div class="container">

  <%= link_to 'Back', fanclubs_path, class: 'btn btn-outline-info btn-sm btn-back' %>

  <h1 class="form-header">Add Fanclub</h1>

  <%= render 'form', fanclub: @fanclub %>

</div>
