<p id="notice"><%= notice %></p>

<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-name" href="/bands">Fakezone</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link nav-normal" href="/bands">Bands <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link nav-normal" href="/events">Events</a>
        <a class="nav-item nav-link active nav-active" href="/fanclubs">Fanclubs</a>
      </div>
    </div>
  </nav>
</div>

<div class="container detail">
  <%= link_to 'Back', fanclubs_path, class: 'btn btn-outline-info btn-sm btn-back' %>
  <h2 class="detail-header"><%= @fanclub.name %></h2>
  <img class="detail-picture" src=<%= @fanclub.photo %>>
  <p><strong>Location: </strong><%= @fanclub.location %></p>
  <p><strong>Description: </strong><%= @fanclub.description %></p>

  <%= link_to 'Edit Fanclub', edit_fanclub_path(@fanclub), class: 'btn btn-primary' %>
  <%= link_to "Add Fan", new_fanclub_fan_path(@fanclub), class: 'btn btn-primary' %>

  <h3>Members:</h3>
  <% if @fanclub.fans.size > 0 %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th colspan="2"></th>
      </tr>
      <% @fanclub.fans.each do |fan| %>
      <tr>
        <td><%= link_to fan.name, fanclub_fan_path(@fanclub, fan) %></td>
        <td><%= Time.now.year-fan.age %></td>
        <td><%= link_to "Edit Fan", edit_fanclub_fan_path(@fanclub, fan), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Remove Fan', fanclub_fan_path(@fanclub, fan), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'  %></td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <p>There are no members yet.</p>
  <% end %>
</div>

<div class="container comment">
  <h3>Comments</h3>

  <%= form_for [@fanclub, Comment.new] do |f| %>
  <%= f.text_area :body, class: 'form-control', placeholder: "Add a comment" %><br/>
  <%= f.submit "Add Comment", class: 'btn btn-primary btn-save' %>
  <% end %>

  <ul>
    <%= render(partial: 'comments/comment', collection: @fanclub.comments) %>
  </ul>
</div>
