// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #f7f7f7;
  border-radius:4px;
  margin-top:25px;
}

.container.detail {
  padding-bottom: 40px;
}

.card-style {
  max-width:355px;
}

.form-header {
  margin-top:20px;
  margin-bottom:25px;
  text-align:center;
}

.btn-back {
  margin-top:15px;
}

.detail-header {
  text-align:center;
}

.detail-picture {
  display:block;
  margin:auto;
  margin-top: 15px;
  margin-bottom: 20px;
  max-width: 1000px;
}

.btn-save {
  margin-bottom: 15px;
}

.container.index {
  padding-top:20px;
}

.card-div {
  display:inline-block;
  float:left;
}

.event-info {
  font-size: 18px;
  text-align: center;
}

.comment {
  background-color: #f7f7f7;
  padding: 25px;
  margin: 30px;
  border-radius: 4px;
}

.nav-active {
  font-weight: 900;
  border-radius:4px;
}

.nav-normal {
  font-weight: 700;
  border-radius:4px;
}

.nav-name {
  font-weight: 900;
  padding: 8px;
  border-radius:4px;
}

.card-name {
  display: flex;
  justify-content: space-between;
}

.card-delete {
  margin-right: 0px;
}

@media (min-width: 1200px){
  .container {
    width: 1200px;
  }
}
