<%= form_for [@band, member] do |f| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Member name' %>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age, class: 'form-control', placeholder: 'Year born' %>
  </div>

  <div class="form-group">
    <%= f.label :instrument %>
    <%= f.text_field :instrument, class: 'form-control', placeholder: 'Member\'s role' %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>
    <%= f.text_field :photo, class: 'form-control', placeholder: 'Member photo URL', value: 'https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png' %>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: 'form-control', placeholder: 'Short description' %>
  </div>

  <div class="actions" align="right">
    <%= f.submit 'Save', class: 'btn btn-primary btn-save' %>
  </div>
<% end %>
